@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.omotac::before, .zaglavlje .omotac::before, .clanak-red::before,
.omotac::after, .zaglavlje .omotac::after, .clanak-red::after {
  content: '';
  display: block;
}

.omotac::after, .zaglavlje .omotac::after, .clanak-red::after {
  clear: both;
}

.omotac {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.znak {
  display: block;
  float: left;
}

.znak:hover {
  opacity: 0.7;
}

.znak-src {
  height: 70px;
  display: block;
}

.navigacija {
  display: block;
  float: right;
  margin-top: 10px;
}

.zaglavlje {
  padding: 10px 0;
  background-color: #ffffff;
}

.navigacija-lista {
  font-size: 0;
}

.navigacija-stavka {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}

.navigacija-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 6px 4px;
  border: 1px solid transparent;
}

.navigacija-link:hover {
  opacity: 0.7;
}

.preklopnik {
  display: none;
}

/* STAVKE */
.stavke { padding: 70px 0; background-color: #beb3a1; }
.stavke-kontejner { font-size: 0; }
.stavka { display: inline-block; vertical-align: top; width: 25%; }

.stavka-ikona,
.stavka-sadrzaj {
  display: inline-block;
  vertical-align: middle;
  padding-left: 85px;
}
.stavka-sadrzaj { padding-left: 20px; }

.stavka-naslov {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}
.stavka-broj {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  color: #fff;
  margin-bottom: 5px;
}
.stavka-ikonica {
  width: 30px;
  height: 30px;
  display: block;
  object-fit: contain;                 
  filter: brightness(0) saturate(100%) invert(100%); 
}
.stavka-ikona { background: none; filter: none;  }
.stavka-ikona svg { display: inline; } 

/* FUTER */
.futer {
  background-color: #beb3a1;
  padding: 100px 0 50px;
}

.futer-naslov {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  display: block;
  margin-bottom: 25px;
}

.futer-tekst {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  display: block;
  margin-bottom: 25px;
}

.futer-sadrzaj {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.futer-drzac {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.futer-navigacija {
  font-size: 0;
  display: block;
  margin: 0 auto;
}

.futer-navigacija-stavka {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}

.futer-navigacija-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.futer-navigacija-link:hover {
  opacity: 0.7;
}

.futer-drustvene { font-size: 0; margin-top: 30px; }
.futer-drustvene-stavka { display: inline-block; vertical-align: top; margin: 0 8px; }
.futer-ikonica {
  width: 24px;
  height: 24px;
  display: block;
  filter: brightness(0) saturate(100%) invert(100%);
  transition: opacity .2s ease;
}
.futer-ikonica:hover { opacity: .7; }

.futer-znak {
  display: block;
  margin: 30px auto;
  width: 93px;
}

.futer-znak:hover {
  opacity: 0.7;
}

.futer-znak-slika {
  width: 100%;
}

.futer-autorska {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
}

.futer-lista {
  font-size: 0;
}

.futer-lista-stavka {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  position: relative;
}

.futer-lista-stavka::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  right: -1px;
  width: 1px;
  height: 16px;
  background-color: #fff;
}

.futer-lista-stavka:last-child::after {
  display: none;
}

.futer-lista-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  display: block;
  text-decoration: none;
}

.futer-lista-link:hover {
  opacity: 0.7;
}

.futer-forma {
  font-size: 0;
  margin: 40px auto 55px;
  max-width: 960px;
}

.futer-unos-omotac {
  width: 28%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
}

.futer-unos-omotac:last-child {
  width: 16%;
}

.futer-unos {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  padding: 14px;
  border: 0;
  background-color: #fff;
}

.futer-dugme {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  padding: 14px;
  border: 2px solid #fff;
  background-color: #beb3a1;
  color: #fff;
}

.futer-dugme:hover {
  opacity: 0.7;
}

/* BANER */
.baner {
  position: relative;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.baner-naslov {
  font-size: 55px;
  line-height: 32px;
  display: block;
  color: #000;
  font-weight: 400;
  font-family: "Brush Script MT", cursive;
  letter-spacing: 3px;
}

.baner-tekst {
  font-size: 26px;
  line-height: 26px;
  display: block;
  color: #000;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.baner-drzac {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
  padding: 20px 30px;
}
.baner-drzac::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 5px solid lightgray;
  background-color: #ffffff;
  opacity: 0.68;
  z-index: -1;
  border-radius: 4px;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* O NAMA (ABOUT) */
.onama {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.onama-kontejner {
  font-size: 0;
}

.onama-stavka {
  width: 100%;
  padding-left: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.onama-slika {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 500px;
  right: 845px;
  width: 50vw;
  max-width: 700px;
  height: 100%;
  border-radius: 8px;
}

.onama-naslov {
  position: relative;
  font-size: 26px;
  line-height: 28px;
  color: #d6883a;
  margin-bottom: 55px;
  right: 80px;
}

.onama-tekst {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 18px;
  right: 80px;
  bottom: 30px;
}

.onama-drzac {
  padding: 140px 20px 140px 140px;
}

.onama-stavka-slika .onama-drzac {
  padding: 0;
}

.onama-kartica-sadrzaj {
  position: relative;
  color: #000;
  font-weight: 400;
  text-align: center;
  font-size: 35px;
  color: #d6883a;
  bottom: 470px;
}

/* KARTICE DODATNE USLUGE */
.kartice {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 25px;
  position: relative;
  padding-left: 300px;
  bottom: 330px;
}

.kartica {
  display: grid;
  grid-template-rows: max-content 300px 1fr;
  border: 1px solid black;
}

.kartica img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}

.kartica-tekst {
  list-style: none;
  padding: 6px;
  line-height: 20px;
}

/* DUGME (ako se koristi) */
.dugme {
  background-color: #d49555;
  padding: 15px 25px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #beb3a1;
  position: relative;
  left: 850px;
  bottom: 180px;
}

.dugme:hover {
  background-color: #cf8e4d;
}

.dugme:active {
  background-color: #c77e35;
  box-shadow: 0 5px #beb3a1;
  transform: translateY(9px);
}

.dugme-tekst {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Dugmići u navigaciji da izgledaju isto kao linkovi */
.navigacija-dugme {
  background: none;
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 6px 4px;
  border: 1px solid black;
}

.navigacija-dugme:hover {
  opacity: 0.7;
}

/* TAMNA TEMA */
body.tamna-tema .stavke,
body.tamna-tema .futer,
body.tamna-tema .futer-sadrzaj,
body.tamna-tema .futer-drzac { 
  background-color: #1c1c1c !important; 
  color: #e0e0e0 !important; 
}
body.tamna-tema a { color: #ffffff !important; }


body.tamna-tema,
body.tamna-tema .zaglavlje,
body.tamna-tema .navigacija,
body.tamna-tema .kontejner,
body.tamna-tema .kartice,
body.tamna-tema .kartica,
body.tamna-tema .onama,
body.tamna-tema .onama-stavka,
body.tamna-tema .onama-drzac {
  background-color: #2b2b2b !important;
  color: #e0e0e0 !important;
}

/* link/ivice u meniju da se vide i u tamnoj temi */
body.tamna-tema .navigacija-link,
body.tamna-tema .navigacija-dugme {
  color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}

/* tekstualni blokovi (ako imaju svoje boje) */
body.tamna-tema .futer-tekst,
body.tamna-tema .stavka-naslov,
body.tamna-tema .kartica-tekst,
body.tamna-tema .onama-tekst {
  color: #e0e0e0 !important;
}

.navigacija-dugme {
  background: none;
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 6px 4px;
  border: 1px solid black;
}

.navigacija-dugme:hover {
  opacity: 0.7;
}
/* Padajući meni – osnova */
.padajuci { position: relative; }
.padajuci .sadrzaj {
  position: absolute;
  top: 100%; left: 0;
  display: none;
  min-width: 180px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 9999;
  padding: 6px 0;
}

/* Stavke u padajućem*/
.padajuci .sadrzaj .navigacija-link {
  display: block;
  padding: 8px 12px;
  text-transform: uppercase;   
  border: 0;                 
}
.padajuci .sadrzaj .navigacija-link:hover {
  background: #f3f3f3;
  opacity: 1;
}

/* Otvaranje menija */
.padajuci .sadrzaj.prikazi { display: block; }

